<div class="container mt-5">
  <h1>add product</h1>

  <form #f="ngForm">
    <div class="row">
      <div class="col-md-3">
        <label>title</label>
        <input type="text"name="title" class="form-control" ngModel required minlength="3" #t="ngModel">
        <div *ngIf="t.invalid && t.touched">
          <div *ngIf="t.errors?.['required']">
            required
          </div>
          <div *ngIf="t.errors?.['minlength']">
            minlength
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>price</label>
        <input type="text" name="price" class="form-control" ngModel  #price="ngModel" pattern="[0-9]^">
        <div *ngIf="price.invalid ">
          <div *ngIf="price.errors?.['pattern']">
            price error
          </div>

        </div>
      </div>
      <div  class="col-md-3">
        <label>quantity</label>
        <input type="text"  class="form-control" name="quantity"  ngModel  #q="ngModel" pattern="[0-9]^">
        <div *ngIf="q.invalid ">
          <div *ngIf="q.errors?.['pattern']">
            quantity error
          </div>

        </div>
      </div>
      </div>

    <input type="submit" value="save" (click)="save(f.value)" >

  </form>


</div>











<!--<form #f="ngForm">
    <div class="row">
      <div class="col-md-3">
        <label  class="form-label">title</label>
        <input type="text" class="form-control"  placeholder="Example input placeholder" required minlength="3" ngModel  #t="ngModel">
        <div  *ngIf="t.invalid && t.touched">
          <div *ngIf="t.errors?.['required']">
            required element
          </div>
          <div *ngIf="t.errors?.['minlength']">
            required element
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label  class="form-label">price</label>
        <input type="text" class="form-control" placeholder="price"  pattern="[0-9]^" ngModel #price="ngModel" >
        <div *ngIf="price.invalid">
          <div *ngIf="price.errors?.['pattern']">
            the price must be a number between  and 9

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">quantity</label>
        <input type="text" class="form-control"  placeholder="quantity"  ngModel #q="ngModel" pattern="[0-20]^">
        <div *ngIf="q.invalid">
          <div *ngIf="q.errors?.['pattern']">
            the price must be a number between  and 20
          </div>
        </div>
      </div>

    </div>
    <input type="submit" value="save" (click)="save(f.value)" >


  </form>  -->

