<div >
  <form #f="ngForm">
    <div >
      <div >
        <label>film</label>
        <input type="text"name="nom_film"  ngModel required minlength="3" #t="ngModel">
        <div *ngIf="t.invalid && t.touched">
          <div *ngIf="t.errors?.['required']">
            required
          </div>
          <div *ngIf="t.errors?.['minlength']">
            minlength
          </div>
        </div>
      </div>
      <div>
        <label>Description</label>
        <input type="text" name="description" ngModel  #description="ngModel" >
        <!-- <div *ngIf="price.invalid ">
          <div *ngIf="price.errors?.['pattern']">
            price error
          </div>

        </div> -->
      </div>
      <div  class="col-md-3">
        <label>Nombre de place</label>
        <input type="number" name="nbPlace"  ngModel  #q="ngModel" pattern="[0-9]*">
        <div *ngIf="q.invalid ">
          <div *ngIf="q.errors?.['pattern']">
            erreur
          </div>

        </div>
      </div>
      </div>

    <input type="submit" value="save" (click)="save(f.value)" >

  </form>


</div>











<!--<form #f="ngForm">
    <div class="row">
      <div class="col-md-3">
        <label  class="form-label">title</label>
        <input type="text" class="form-control"  placeholder="Example input placeholder" required minlength="3" ngModel  #t="ngModel">
        <div  *ngIf="t.invalid && t.touched">
          <div *ngIf="t.errors?.['required']">
            required element
          </div>
          <div *ngIf="t.errors?.['minlength']">
            required element
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label  class="form-label">price</label>
        <input type="text" class="form-control" placeholder="price"  pattern="[0-9]^" ngModel #price="ngModel" >
        <div *ngIf="price.invalid">
          <div *ngIf="price.errors?.['pattern']">
            the price must be a number between  and 9

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">quantity</label>
        <input type="text" class="form-control"  placeholder="quantity"  ngModel #q="ngModel" pattern="[0-20]^">
        <div *ngIf="q.invalid">
          <div *ngIf="q.errors?.['pattern']">
            the price must be a number between  and 20
          </div>
        </div>
      </div>

    </div>
    <input type="submit" value="save" (click)="save(f.value)" >


  </form>  -->

