<table>
  <div *ngFor="let movies of listOffer">
    <th>id</th>
    <th>Film</th>
    <th>Salle</th>
    <th>Description</th>
    <th>nbPlace</th>
    <th>raiting</th>
    <td>{{movies.id}}</td>
    <td> {{movies.nom_film}}</td>
    <td> {{movies.nomSalle}}</td>
    <td> {{movies.description}}</td>
    <td> {{movies.nbPlace}}</td>
    <td> {{movies.rating}}</td>

    <!-- <button class="btn btn-dark m-lg-2" [disabled]="movies.nbCandidate==0" (click)="postuler(movies)"> Postuler
    </button> -->
    <a (click)="navigate(movies.id)" class="link-info " style="cursor: pointer">details movies</a>
  </div>

</table>

<div >
  <app-add-offer></app-add-offer>
</div>