<div class="container">
  <h1> login form</h1>

  <form #f="ngForm"(ngSubmit)="save(f)" >
    <div class="form-control">
      <label>login</label>
      <input name="login" type="text" class="form-control" ngModel required #l="ngModel" >
    </div>
    <div class=" alert alert-danger" *ngIf="l.invalid && l.touched">
      the login is required field
    </div>

    <div class="form-control">
      <label>password</label>
      <input name="password" type="text" class="form-control" ngModel required  #p="ngModel">
    </div>
    <div class=" alert alert-danger" *ngIf="p.invalid && p.touched">
      the password is required field
    </div>
    <button class="btn btn-success" [disabled]="f.invalid"  type="submit" >save</button>
  </form>

  <div class=" alert alert-danger" *ngIf="formInvalid">
    données invalides
  </div>

</div>
